:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-width: 1180px;
  /* variables */
  max-width: 1180px;
  --primary: #96cdee;
  --secondary: #c0d6e2;
  /* --thirdary: #ffe0bc; */
  --thirdary: #ff9669;
  --black: #000;
  --pink: #d95075;
  --purple: #635fda;
}

#root {
  margin: 0;
  padding: 0 0 0 50px;
  text-align: center;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
  background-color: #000000;
}
a {
  text-decoration: none;
}
.nav-logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 20%;
  display: flex;
  padding-left: 2rem;
  font-size: 2rem;
}

/* nav active */
nav div a.active {
  border-radius: 6px;
  color: var(--pink);
  border-bottom: var(--pink) solid 2px;
  border-radius: 0;
}

.nav-links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
}
nav a {
  color: var(--purple);
}

.nav-login {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--purple);
  margin-right: -2rem;
  font-size: 1rem;
}

.register {
  border-radius: 10px;
  cursor: pointer;
  border: var(--pink) 1px solid;
  padding: 5px 10px;
  color: var(--pink);
}

.register:hover {
  border: var(--pink) 1px solid;
  padding: 5px 10px;
  color: white;
  background-color: var(--pink);
}

/* css animation for nav */
.animate {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #57dbff, #8581f7, #d95075, #ffb99d);
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  animation: movinggradient ease-in-out 5s infinite alternate;
}

@keyframes movinggradient {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 100%;
  }
}

@media screen and (max-width: 780px) {
  body {
    background-color: blue;
  }
}

/* hero section */
.hero {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 92vw;
  /* background-color: #635fda; */
}

/* main content */
.main-content {
  width: 65%;
  margin-right: 20px;
}

/* randomizer */
.randomizer {
  /* background-color: black; */
  color: white;
  height: 70vh;
  width: 100%;
  position: relative;
  border-radius: 8px;
}
.randomizer-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.randomizer-img img {
  z-index: -1000;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  filter: saturate(1);
}

.randomizer-title {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: end;
  float: right;
  bottom: 0;
}

.randomizer-title h1 {
  color: white;
  padding-top: 5px;
  font-size: 30px;
  margin-bottom: 2px;
  padding-right: 20px;
}

.randomizer-title p {
  color: white;
  font-size: 10px;
  padding-right: 20px;
}
.randomizer-title div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.randomizer-title div a {
  text-decoration: none;
  /* background-color: rgb(0, 0, 0); */
  width: 20%;
  text-align: center;
  padding: 2px 8px;
  border-radius: 8px;
  color: white;
  border: white solid 1px;
  margin-bottom: 20px;
}

.hero-category-1 {
  display: flex;
  gap: 10px;
  color: var(--pink);
  background: rgb(255, 255, 255) fff;
  height: 10px;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.hero-category {
  text-align: center;
  padding-right: -20px;
  background-color: white;
  border: var(--pink) solid 1px;
  padding: 5px 20px;
  color: white;
  border-radius: 9px;
  /* -webkit-text-fill-color: transparent; */
  background: linear-gradient(to right, #57dbff, #8581f7, #d95075, #ffb99d);
  -text-fill-color: transparent;
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  background-size: 300% 100%;
  animation: movinggradient ease-in-out 5s infinite alternate;
}

/* side bar */
.sidebar {
  width: 40%;
  background: #ffffff;
}

.sideBar-sec {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #57dbff; */
  color: black;
  padding: 20px 10px;
  text-align: left;
  text-decoration: underline;
  margin-top: -5px;
}

.sideBar-sec img {
  width: 40%;
  left: 0;
  border-radius: 20px;
}

.sideBar-title {
  width: 100%;
  padding-left: 10px;
  /* background: #000; */
}

.sideBar-title h1 {
  font-size: large;
  text-align: left;
}

.sideBar-sec:hover {
  border: rgb(255, 255, 255) lid 1px;
  background-color: rgba(255, 255, 255, 0.945);
  box-shadow: 16px 21px 27px -10px rgba(26, 26, 26, 0.69);
  -webkit-box-shadow: 16px 21px 27px -10px rgba(26, 26, 26, 0.69);
  -moz-box-shadow: 16px 21px 27px -10px rgba(26, 26, 26, 0.69);
  border-radius: 10px;
}

.latest-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}

/* hero section blogs */

/* home post items  */
.card-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.card {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  /* font-size: 30px; */
  text-align: center;
}
.home-blogs-link {
  position: relative;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #e8e8e8;
  border-radius: 20px;
  height: 90%;
}
.home-blogs {
  width: 300px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.home-blogs-link p {
  color: black;
}
